.form {
    background-color: #3552a3;
    padding: 1rem;
    width:20rem;
}

.form label {
    display: block;
    margin-bottom: 0.05rem;
    color: #eadbfb;
    font-weight: bold;
}

.form input,
.form textarea {
    display: block;
    width: 100%;
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: none;
    background-color: #a9c4e4;
    color: #28262c;
}

.actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.actions button {
    cursor: pointer;
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #032e6c;
    color: #d5e5f7;
}

.actions button:hover {
    background-color: #011a4a;
}

.actions a {
    background-color: transparent;
    text-decoration: none;
    color: #d5e5f7;
}

.actions a:hover {
    color: #bed1e6;
}